/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  /* colors */
  --primary: #a371f7;
  --primary-light: #d2a8ff;
  --primary-dark: #3c1e70;
  --secondary: #79c0ff;
  --grey900: #010409;
  --grey800: #0d1117;
  --grey700: #161b22;
  --grey500: #21262c;
  --grey400: #31363d;
  --grey300: #3d444d;
  --grey200: #515459;
  --grey100: #8b949e;
  --white: #fff;

  --background-color: var(--grey800);
  --background-secondary-color: var(--background-secondary-color);
  --border-color: var(--grey300);
  --border-color-light: var(--grey200);
  --border-color-dark: var(--grey400);
  --text-color: var(--white);
  --text-color-dark: var(--grey100);
  --link-color: var(--secondary);

  /* layout */
  --max-width: 1248px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-height: 4.5rem;
  --anchor-nav-height: 4.5rem;
  --sub-nav-height: 3.5rem;
  --border-radius: 0.5rem;

  /* text */
  --small-text: 0.875rem;
  --extra-small-text: 0.75em;

  /* animation */
  --transition: 0.3s ease-in-out all;
}

body {
  background: var(--background-color);
  color: var(--white);
  font-family: 'Mona Sans', Helvetica, sans-serif;
  line-height: 1;
}

ul,
ol {
  list-style: none; /* Removes bullet points or numbers */
  margin: 0; /* Removes default margins */
  padding: 0; /* Removes default padding */
}

a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from the parent element */
  background: none; /* Removes any default background */
  border: none; /* Removes any default border */
  outline: none; /* Removes default focus outline (optional, but not recommended) */
}

.container {
  display: flex;
  flex-direction: column;
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

h1 {
  font-size: 4.5rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.text-large {
  font-size: 1.5rem;
  line-height: 150%;
}

.blue-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: var(--link-color);
}

.greyText {
  color: var(--grey100);
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}

.primary-btn {
  display: flex;
  height: 48px;
  padding: 6px 28px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  border-radius: 8px;
  color: var(--grey900);
  background: var(--white);
}

.secondary-btn {
  display: flex;
  height: 48px;
  padding: 6px 28px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid var(--grey400);
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }
}

/* HERO */

.hero {
  display: flex;
  padding: 56px 160px;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.heroBg {
  position: absolute; /* Ensures it ignores the parent element and stays relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  height: 150vh; /* Full height of the viewport */
  background-image: url('../assets/hero-bg.jpg');
  background-size: cover; /* Scales the image to cover the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  z-index: -1; /* Pushes it behind other content */
}

.heroLabel {
  display: flex;
  width: 172px;
  height: 34px;
  padding: 4px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #5b3cb7;
  background: #121940;
}

.heroCode {
  width: 85%;
}

@media screen and (max-width: 1250px) {
  .hero {
    padding: 56px 40px;
  }
}
